        @charset "UTF-8";
        @font-face {
            font-family: 'century-gothic';
            src: url('fonts/Century Gothic/GOTHIC.TTF') format('truetype');
        }
        
        @font-face {
            font-family: 'century-gothic-bold';
            src: url('fonts/Century Gothic/GOTHICB.TTF') format('truetype');
        }
        
        @font-face {
            font-family: 'asphalts-brush';
            src: url('fonts/Asphalts Brush.ttf') format('truetype');
        }
        
        body {
            margin: 0;
            width: 100%;
            overflow-x: hidden;
            font-family: century-gothic-bold;
        }
        /*.header img:hover {transform: scale(1.2);}*/
        
        @keyframes zoom {
            0% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1.3);
            }
        }
        
        #headline {
            font-size: 6.5vw;
            font-family: asphalts-brush;
            color: #25453c;
            font-weight: normal;
            margin-top: 10%;
            text-align: center;
        }
        
        .products {
            float: left;
            font-size: 1.3vw;
            margin-left: 10%;
            margin-bottom: 2%;
            color: #25453c;
        }
        
        .left1 {
            width: 25%;
        }
        
        .middle1 {
            width: 17%;
        }
        
        .right1 {
            width: 17%;
        }
        
        .rowproducts:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .rowproducts {
            padding: 2%;
            width: 90%;
        }
        
        .prdctimg {
            width: 50%;
            height: 10%;
            float: left;
        }
        
        .prdctname {
            width: 50%;
            float: left;
            margin-top: 10%;
            color: black;
            line-height: 200%;
        }
        
        .rows2:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .rows2 {
            padding: 2%;
            width: 100%;
            margin-top: 7%;
        }
        
        .normalfont {
            font-family: century-gothic;
        }
        
        .button {
            float: left;
            background-color: white;
            height: 3vw;
            width: 3vw;
            font-family: asphalts-brush;
            margin: 0px;
            border: 1px solid black;
            margin-top: 30%;
            font-size: 2vw;
            color: #25453c;
        }
        
        .outerbutton:hover {
            background-color: lightgray;
        }
        
        .totalprice {
            margin-top: 32%;
            color: black;
        }
        
        .button:not(:last-child) {
            border-right: none;
        }
        
        #imgleft {
            width: 50%;
            position: relative;
            clear: both;
            float: left;
            margin-top: 24%;
            z-index: 1;
        }
        
        .clip_imgleft {
            clip-path: polygon(0 0%, 100% 25%, 100% 75%, 0 100%);
            position: absolute;
            top: -99%;
            height: 400%;
            width: 100%;
        }
        
        .img_panelleft {
            position: absolute;
            width: 195%;
            right: -48%;
        }
        
        .size_imgleft {
            margin: 16vw;
        }
        
        #textrahmen_right {
            width: 64%;
            position: relative;
            clear: both;
            float: right;
            margin-top: -3%;
            z-index: 0;
            margin-bottom: 21%;
        }
        
        .trapezoid_right {
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
            position: absolute;
            top: -46%;
            height: 197%;
            width: 100%;
            z-index: -1;
            background-color: #b4d3cb;
        }
        
        .asphalt {
            font-family: asphalts-brush;
            font-size: 6vw;
            text-align: center;
            color: #25453c;
            margin-left: 10%;
            margin-bottom: 8%;
        }
        
        #text {
            font-family: century-gothic;
            position: relative;
            font-size: 1vw;
            text-align: right;
            margin-right: 25%;
            color: #25453c;
        }
        
        #text2 {
            font-family: century-gothic;
            position: relative;
            font-size: 1vw;
            text-align: right;
            margin-right: 25%;
            color: #25453c;
            margin-top: 18%;
            clear: both;
        }
        
        #button {
            float: right;
            margin-right: 25%;
            margin-top: 2%;
            border: none;
            color: white;
            background-color: #416158;
            height: 4vw;
            padding-left: 6%;
            padding-right: 6%;
            font-size: 1.5vw;
            animation: buttonanimation2 200ms ease-in-out 0s forwards;
        }
        
        #button2 {
            float: right;
            margin-right: 25%;
            margin-top: 2%;
            border: none;
            color: white;
            background-color: #416158;
            height: 4vw;
            padding-left: 16%;
            padding-right: 16%;
            font-size: 1.5vw;
            animation: buttonanimation2 200ms ease-in-out 0s forwards;
        }
        
        #button:hover,
        #button2:hover {
            animation: buttonanimation1 200ms ease-in-out 0s forwards;
        }
        
        @keyframes buttonanimation1 {
            0% {
                background-color: #6BA998;
            }
            100% {
                background-color: #416158;
            }
        }
        
        @keyframes buttonanimation2 {
            0% {
                background-color: #416158;
            }
            100% {
                background-color: #6BA998;
            }
        }
        /*
#bild {
    width: 64%;
    position: relative;
    clear: both;
    float: right;
    margin-top: 38%;
}

.trapez {
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 70%);
    position: absolute;
    top: -117%;
    height: 400%;
    width: 100%;
    z-index: -1;
}

.test1 {
    margin: 13vw;
}*/